*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    height: auto;
}
a{
    color:#fff;
    text-decoration: none;
}

.navlist{
    width: 100%;
    padding: 15px 15vw;
    position: fixed;
    background-color:#003659;
    z-index: 10;

}

.box img{
	position: absolute;
	  left: 100px;
	  bottom: -58px;
	  width: 180px;
	  height: 150px;
	}

.navlist ul {
    display: flex;
    list-style: none;
}
.navlist ul li:first-child{
    flex: 1;
}
.navlist h2{
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.navlist ul a{
    margin-left: 20px;
    font-size: 17px;
}
.navlist ul a:hover{
    color: rgb(151, 52, 52);
}
/*Container*/
.container{
    width: 100%;
    height: 100vh;
    padding-top: 32vh;
    background-image: linear-gradient(#000000c0 , #000000c0),url(doctors-hands-holding-medical-care-objects.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.container h1{
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    word-spacing: 5px;
}
.container p{
    margin-bottom: 30px;
    letter-spacing: 2px;
	font-size: large;
	font-weight: 200px;
}
.container button{
    padding: 15px;
	margin-left: 5px;
    margin-bottom: 10px;
	height: 7.5vh;
	width: 13vh;
    background: none;
    border: 1px solid #003659;
	border-radius: 10px;
   
}
.container button:hover{
    background: rgb(23, 119, 163);
}
/*content-box*/
.content-box{
    width: 80%;
    margin: auto;
}
.content-box h2{
    text-align: center;
    color: #f80;
    margin: 20px;
}
.content-box h2::before, .content-box>h2::after{
    content: "------";
    letter-spacing: -5px;
    margin: 0 10px;
}
.content-box .row{
    display: flex;
    justify-content: space-between;
}
.content-box .column{
    width: 32%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.content-box img{
width:100%;
height: auto;
}
.content-box .column a:last-child{
    position: absolute;
   display: block;
   width: 100%;
   height: 0;
   top: 99%;
   bottom: 0;
   left: 0;
   bottom: 0;
   background-color: #ff8800c0;
   text-align: center;
   padding-top: 7.5vw;
   font-size: 2vw;
   color: #ffffff;
   text-decoration: none;
}
.content-box .column:hover a:last-child{
    height: 100%;
    top: 0;
}
/*Fotter*/
footer{
    margin: 40px;
    background-color: #ccc;
}
footer ul{
    display: flex;
}
footer ul li{
    margin: 10px;
    list-style: none;
    justify-content: center;
}
@media(max-width: 600px){
    .content-box .row{
        flex-direction: column;
    }
    .content-box .column{
        width: 100%;
        margin: 0 auto;
    }
    .content-box .column a:last-child{
        line-height: 60vw;
        font-size: 6vw;
    }
    
}

