<html>
    <head>
        <meta charset="UTF-8">
        <title> Create appointment </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Create appointment</h1>
             </div></br></br></br>
            <h2 class="word">
                <form method="post">
                    

                    <input id="patient_name" name="patient_name" type="text" placeholder="Enter patient name" class="textbox"/></br></br>
                    <input id="dr_name" name="dr_name" type="text" placeholder="Enter doctor name" class="textbox"/></br></br>
                    <input id="id" name="id" type="text" placeholder="Enter patient ID" class="textbox"/></br></br>
                    <input id="description" name="description" type="text" placeholder="Appointment description " class="textbox"/></br></br>
                    <!-- <input id="date" name="date" type="text" placeholder="set your appointment date" class="textbox"/></br></br> -->
                    <label for="date">date</label>
                    <input type="date" name="date" required/>
                    
{#                    <input type="submit" class="btn" value="Sign Up"></br>#}
{#                    <input type="submit" class="btn" value="Sign Up"></br>#}
                    <button type="submit" formaction="{{ url_for('patient') }}">
                        Done
                    </button>

                    <button type="submit" formaction="{{ url_for('appointment') }}">
                        Add
                    </button>
                    
                </form>
            </h2>

          </div>
        </div>
    </body>
</html>
