{% extends "base.html" %}
{% block title %}Contact Us{% endblock %} {% block body %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/contactus.css') }}">
<script src="contactus.js" defer></script>

<div class="container">
       
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text">
        We will be happy to have a contact with you and we will be happy to answer your questions
      </p>

      <div class="info">
        <div class="information">
          <img src="img/location.png" class="icon" alt="" />
          <p>Cairo university</p>
        </div>
        <div class="information">
          <img src="img/phone.png" class="icon" alt="" />
          <p>faculity of engineering</p>
        </div>
      </div>
        <div class="information">
          <img src="img/email.png" class="icon" alt="" />
          <p>@Sbme2024</p>
        </div>
       

      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form method="post">
      <form action="index.html" autocomplete="off">
        <h3 class="title">Contact us</h3>
        <!-- <form method="post"> -->
          <div class="input-container">
            <input type="text" name="user_name" class="input" />
            <label for="">Username</label>
            <span>Username</span>
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input" />
            <label for="">Email</label>
            <span>Email</span>
          </div>
          <div class="input-container">
            <input type="tel" name="phone" class="input" />
            <label for="">Phone</label>
            <span>Phone</span>
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input"></textarea>
            <label for="">Message</label>
            <span>Message</span>
          </div>
          <button type="submit" formaction="{{ url_for('contact') }}">
            send
          </button>

          <!-- <input type="submit" value="Send" class="btn" /> -->
        </form>
        
      </form>
    </div>
  </div>
</div>
<script>
  const inputs = document.querySelectorAll(".input");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", focusFunc);
  input.addEventListener("blur", blurFunc);
});

</script>
{% endblock %}