
{% extends "base.html" %}
{% block title %}About{% endblock %} {% block body%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}">
	

<div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png" 
        alt="user" width="100">
        <h4> Alex</h4>
        <p> Admin </p>
        <table class="table3">
          <thead>
            <tr>
              <th>doct</th>
            
          <tbody>
            <tr>
              <td>CES-9000</td>
            </tr> 
            <tr>
              <td>CES-9000</td>
            </tr>   
          </tbody>
          

        </table>
        <div class="left-button">
        <button> <a href="{{ url_for('appointment') }}">Create appointment</a><br></button>
        <button> <a href="{{ url_for('appointment_table') }}"> Show appointment</a><br></button><br>
        <form id="patient-form">
         
    

    <div class="right">
      <!-- <div class="right-top">
        <button id="patient" class="btn" name="patient" onclick="patient()">patient</button>
        <button id="doctor" class="btn" name="doctor" onclick="doctor()">doctor</button>
        <div id="pointer-btn"></div>
      </div> -->
        <div class="info">
          <form id="patient-form">
            <table class="table2">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>SSN</th>
                  <th>address</th>
                  <th>id</th>
                </tr>
              <tbody>
                {%for r in patient%}
                <tr>
                  <td>{{r.0}}</td>
                  <td>{{r.1}}</td>
                  <td>{{r.2}}</td>
                  <td>{{r.3}}</td>
                  <td>{{r.4}}</td>
                  <td>{{r.5}}</td>
                </tr>
                 {% endfor %}
              </tbody>
            </table>
					</form>
          <form id="doctor-form">
           
               <table class="table1">
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Password</th>
          <th>SSN</th>
          <th>address</th>
          <th>id</th>
          <th>Action</th>
        </tr>
      <tbody>
        {%for r in doctor%}
        <tr>
          <td>{{r.0}}</td>
          <td>{{r.1}}</td>
          <td>{{r.2}}</td>
          <td>{{r.3}}</td>
          <td>{{r.4}}</td>
          <td>{{r.5}}</td>
          <a href="/delete/{{ r.0 }}" <button id="delete"class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')"></button></a>
        </td>
        </tr>
         {% endfor %}
      </tbody>
    </table>
					</form> 
        </div>
      </div>   
        </div>

<script>
		var x = document.getElementById("patient-form");
		var y = document.getElementById("doctor-form");
	
		var z = document.getElementById("pointer-btn");
		var l = document.getElementById("patient");
		var r = document.getElementById("doctor");

		var ac = document.getElementById("action_title");

		function doctor(){
			x.style.left = "-700px";
			y.style.left = "30px";
			z.style.left = "490px";
			l.style.color = "##bfbbec";
			r.style.color = "##bfbbec";
			n.style.color = "##bfbbec";
			ac.textContent = "Doctor";
		}

		function patient(){
			x.style.left = "300px";
			y.style.left = "900px";
			z.style.left = "100px";
			l.style.color = "##bfbbec";
			r.style.color = "##bfbbec";
			n.style.color = "##bfbbec";
			ac.textContent = "Patient";
		}
			
	</script>
  {% endblock %}